* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #000;
  height: 46.5px;
  color: #fff;
}

#nav {
  display: inline-block;
}

#nav ul {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav > li > a {
  line-height: 46.5px;
  padding: 0 24px;
  text-decoration: none;
  color: #fff;
  display: block;
  text-transform: uppercase;
}

#nav > li:hover > a {
  background-color: #ccc;
  color: #000;
}

#nav > li:hover .subnav {
  display: block;
}

#nav .subnav {
  position: absolute;
  display: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  min-width: 160px;
}

#nav .subnav > li > a {
  line-height: 38.5px;
  padding: 0 16px;
  text-decoration: none;
  color: #000;
  display: block;
}

#nav .subnav > li:hover > a {
  background-color: #ccc;
}

#naw .ti-angle-down {
  font-size: 14px;
}

.search-btn {
  float: right;
  color: #fff;
  font-size: 20px;
  right: 0;
  line-height: 46px;
  padding: 0 20px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #f44336;
}

#slide {
  margin-top: 46.5px;
  padding-top: 50%;
  background: url(/projectDemoTheBand/assets/img/slide1.jpg) top center / cover
    no-repeat;
}

#textContent {
  width: 100%;
  color: #fff;
  text-align: center;
}

#city {
  font-weight: 500;
  font-size: 24px;
}

#decription {
  font-size: 16px;
  padding: 35px 0;
}

#content {
}

#footer {
}
