*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
background-color: #000;
height: 46.5px;
color: #fff;
}

#nav li {
    display: inline-block;
}

#nav li a {
    line-height: 46.5px;
    padding:0 24px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

#nav li:hover a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    /* display: none; */
    position: relative;
}

#nav .subnav li{
    position: absolute;
}

#slide {
background-color: #ddd;
min-height: 600px;
}

#content {

}

#footer {

}
