*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {

}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#header {
background-color: #000;
height: 46.5px;
text-decoration: none;
color: #fff;
}

#nav li {
    display: inline-block;
}

#nav li a {
    line-height: 46.5px;
    padding: 24px;
}

#nav .subnav {
    display: none;
}

#slide {

}

#content {

}

#footer {

}
